/* Root Container Styling */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #ffe8f1;
}

/* Navigation Bar Styling */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #f5a9b8;
  color: white;
  padding: 20px;
  font-size: 2em;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(255, 105, 180, 0.5);
}

/* Navigation Links Styling */
nav a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

/* Navigation Links Hover Effect */
nav a:hover {
  color: #ff61a6;
  text-decoration: underline;
}

/* List Styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f9d7e0;
}

ul li {
  padding: 10px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff0f6;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(255, 105, 180, 0.2);
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

ul li:hover {
  background-color: #ffd1dc;
  box-shadow: 0px 6px 12px rgba(255, 105, 180, 0.4);
}

/* Link Styling in List Items */
a:link {
  color: #f5a9b8; /* Light pink */
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

a:visited {
  color: hsl(334, 100%, 69%);
}

a:hover {
  background-color: #ff85b3;
  color: white;
  border-radius: 25px;
  padding: 5px 10px;
}

a:active {
  background-color: #ff6380;
}
h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  color: #ff61a6;
  font-family: "Lobster", cursive;
  text-align: center;
}
